<section class="section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    {{ data.html|raw }}
                </div>
            </div>
        </div>
    </div>
</section>
